
defaultFont = Georgia,Cambria,"Times New Roman",Times,serif
displayFont = 'Playfair Display', Georgia, serif
alternativeFont = sans-serif

darkColor = #131418 // #121212
lightColor = #eaeaea

fontSize = 1rem
fontSize2x = fontSize * 2
_fontSize(times)
	fontSize * times

topMargin = 2rem
leftMargin = _fontSize(1.5)
leftMarginDesktop = 100px
leftMarginDesktopXL = 200px
bottomMargin = 1rem
leftBarThickness = 60px
leftBarThicknessDesktop = 100px
