---
layout: base.html
---
<div id="projects" class="page-wrapper">
	<div class="list-grid">
		{% for post in collections.projects %}
		<div class="card-b" >
			<div class="portrait-image-container">
				{% Image post.data.portrait_image, "project image" %}
			</div>
			<div class="caption --right">
				<p class="title"> <a href="{{ post.url }}">{{ post.data.title }}</a> </p>
				<p class="subtitle">
				{{ post.data.start_date | onlyYear }}
				{% if post.data.end_date %}
					- {{ post.data.end_date | onlyYear }}
				{% else %}
				- current
				{% endif %}
				</p>
			</div>
		</div>
		{% endfor %}
		<div class="card-empty"></div>
	</div>

</div>
