---
layout: default
home: true
---

<!--
<h3 class="posts-item-note" aria-label="Recent Posts">Recent Work</h3>
-->

{%- for project in site.projects limit: site.number_of_projects -%}
<article class="project-item">
  <div class="project-label-group">
    <div class="project-label-inner-content">
      <h4 class="project-item-title">
        <a href="{{ project.url }}">{{ project.title | escape }}</a>
      </h4>
      <span class="project-item-date">{{ project.date | date: "%b %d, %Y" }}</span>
    </div>
  </div>
  
  {% if project.portrait == "image" -%}
    <div class="project-portrait">
      <div class="image-overlay"></div>
      <img src="{{ project.images[0] }}">
    </div>
  {% else -%}
    <div class="project-video">
      <div class="video-overlay"></div>
      <video loop autoplay playsinline muted src="{{ project.video }}"></video>
    </div>
  {% endif -%}
</article>
{%- endfor -%}
