---
layout: base.njk
---
<div class="background-decorator"><canvas id="c"></canvas></div>
<script src="/assets/js/gameOfLife.js"></script>

<div class="page home-page">
  <h1>{{site.author.first_name}}<br>{{site.author.last_name}}</h1>

  <p>{{site.author.bio}}</p>
</div>
